USE [master]
GO
/****** Object:  Database [ShopBu]    Script Date: 14/10/2025 4:57:55 CH ******/
CREATE DATABASE [ShopBu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopBu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopBu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopBu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopBu_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopBu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopBu]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/10/2025 4:57:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productDetails]    Script Date: 14/10/2025 4:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productDetails](
	[DetailId] [nvarchar](450) NOT NULL,
	[ProductId] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_productDetails] PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 14/10/2025 4:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[ProductId] [nvarchar](450) NOT NULL,
	[UserEmail] [nvarchar](max) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CurrentPrice] [float] NOT NULL,
	[PreviousPrice] [float] NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
	[Sold] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shops]    Script Date: 14/10/2025 4:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shops](
	[UserEmail] [nvarchar](450) NOT NULL,
	[ShopName] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[IsBanned] [bit] NOT NULL,
 CONSTRAINT [PK_shops] PRIMARY KEY CLUSTERED 
(
	[UserEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 14/10/2025 4:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Email] [nvarchar](450) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ShippingList] [nvarchar](max) NOT NULL,
	[CartList] [nvarchar](max) NOT NULL,
	[OrderList] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251004133606_db', N'9.0.8')
GO
INSERT [dbo].[productDetails] ([DetailId], [ProductId], [Description]) VALUES (N'DT1310202519273', N'PD1310202519745', N'This is description of product03. It tells you properties of the product, a few notes to give you have an overall view about the product ! 😘')
INSERT [dbo].[productDetails] ([DetailId], [ProductId], [Description]) VALUES (N'DT1310202519275', N'PD1010202527679', N'This is description of product02. It tells you properties of the product, a few notes to give you have an overall view about the product !')
GO
INSERT [dbo].[shops] ([UserEmail], [ShopName], [Image], [Status], [IsBanned]) VALUES (N'hao@gmail.com', N'hao', N'string', N'new', 0)
GO
/****** Object:  Trigger [dbo].[Del_ProductDetail_When_Del_Product]    Script Date: 14/10/2025 4:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   trigger [dbo].[Del_ProductDetail_When_Del_Product]
On [dbo].[products]
After delete
As
Begin
	Declare @id nvarchar(max);
	set @id = (Select ProductId from deleted);
	
	Delete productDetails where ProductId = @id;
End
GO
ALTER TABLE [dbo].[products] ENABLE TRIGGER [Del_ProductDetail_When_Del_Product]
GO
USE [master]
GO
